* {
  font-family: urbane rounded;
  font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

body {
  width: 375px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-family: droog;
}

/* start of the header section */
header p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: #EAE1B1;
  color: #3D2873;
  padding: 10px;
  margin: 0;
}

/* start of the nav-bar with an animated burger menu */
nav {
  background-color: #7E4B8E;
  padding: 23px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h1 {
  width: 150px;
  margin: 0;
}

/*burger menu*/
button  {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-icon {
  width: 35px;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-close {
  height: 30px;
  width: 35px;
  display: none;
}

/* toggle */
.nav-toggle {
  display: none;
}

.nav-toggle ul {
  list-style: none;
  padding: 7px 120px 30px;
  margin: 0;
  text-align: center;
  background-color: #7E4B8E;
  position: relative;
  width: 375px;
  box-sizing: border-box;
}

.nav-toggle li {
  margin-bottom: 5px;
}

.nav-toggle li:last-of-type {
  margin-bottom: 0;
}

.nav-toggle a {
  color: #EDC4D9;
  text-decoration: none;
  font-weight: 300;
  font-size: 23px;
  transition: 0.5s;
}

.nav-toggle a:hover {
  text-decoration: solid;
  font-size: 23.3px;
  color: rgb(249, 217, 255);
}
/* end of the header section */

/* main section */
main {
  padding: 15px 20px 30px;
  background-color: #3D2873;
  color: #D2BBD7;
}

strong {
  font-weight: 600
}

main p {
  margin-top: 0;
  line-height: 24px;
  font-weight: 400;
}

h2 {
  color: #D395BB;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 35px;
}

/* start of the art section with the artist */
.intro-section p {
  margin-bottom: 60px;
}

.art-container {
  display: flex;
  flex-flow: row wrap;
}

.art-container img {
  width: 139px;
  height: 220px;
  align-self: flex-start;
}

.art-container p {
  width: 188px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-right: 8px;
  line-height: 21.6px;
}

.art-container p:last-of-type {
  margin-bottom: 35px;
}

/* artist presentation */
h3 {
  font-family: droog;
  font-size: 22px;
  text-align: center;
  color: #EAE1B1;
  margin-top: 0;
  margin-bottom: 35px;
}

.invited img {
  margin-bottom: 20px;
}

.invited p {
  margin-bottom: 60px;
}
/* end of the artist presentation and of the art section */

/* start of the skate section */
.skate-section p {
  margin-bottom: 18px;
  font-size: 18px;
}

.skate-section p:last-of-type {
  margin-bottom: 20px;
}

.skate-section img {
  margin-bottom: 60px;
}
/* end of the skate section */

/* start of the music section */
.music-section p {
  margin-bottom: 18px;
  font-size: 18px;
}

.music-section p:last-of-type {
  margin-bottom: 20px;
}

.music-section img {
  margin-bottom: 60px;
}
/* end of the music section */

/* start of the food section */
.food-section strong {
  font-size: 18px;
}

.food-section p {
  margin-bottom: 0;
}

.food-section p:first-of-type {
  margin-bottom: 20px;
}
/* end of the main and the food section */


/* start of the footer */
footer {
  background-color: #7E4B8E;
  padding: 30px 15px 15px;
  color: #D2BBD7;
}

footer h2 {
  color: #EDC4D9;
}

footer p {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}

footer span {
  font-size: 14px;
  font-weight: 300;
}

footer p:nth-child(3) {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 16px;
}

.info-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  align-self: flex-start;
}

.social-media p {
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 26px;
  margin-top: 0;
  text-align: center;
}

.icons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 143px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
}

footer img {
  height: 30px;
  transition: 1s;
}

footer img:hover {
  scale: 1.1;
  transition: 1s;
}

.icons-container a:first-of-type, .icons-container a:nth-last-of-type(3) {
  margin-bottom: 25px;
}

.icons-container a:nth-last-of-type(2) {
  width: 35px;
}


















